[submodule "luci/applications/luci-app-homeproxy"]
	path = luci/applications/luci-app-homeproxy
	url = https://github.com/immortalwrt/homeproxy.git
[submodule "luci/applications/luci-app-nginx"]
	path = luci/applications/luci-app-nginx
	url = https://github.com/iv7777/luci-app-nginx.git
