[submodule "luci/luci-app-homeproxy"]
	path = luci/luci-app-homeproxy
	url = https://github.com/immortalwrt/homeproxy.git
[submodule "luci/applications/luci-app-homeproxy"]
	path = luci/applications/luci-app-homeproxy
	url = https://github.com/immortalwrt/homeproxy.git
